{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block profile %}
{% endblock %}
{% block content %}
    <div class="container">
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Publish</button>
        </form>
    </div>
{% endblock %}
{% block script %}

{% endblock %}