{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block stylesheet %}
    <style>
    .alert {
    height: 50px;
    margin-top: 200px;
}
    </style>
{% endblock %}
{% block profile %}
    <div class="fh5co-bio">
			<figure>
				<img src="{{ user.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{ user.name.get_full_name }}</h2>
            <h4>{{ user.name.email }}</h4>
			<p>{{ user.details }}</p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
{% endblock %}
{% block content %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <a href="{% url 'create' %}" class="btn btn-primary pull pull-right">Add new article</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Title</td>
            <td>Posted On</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        {% for p in post %}
            <tr>
                <td>{{ p.title }}</td>
                <td>{{ p.posted_on }}</td>
                <td><a href="{% url 'delete' pid=p.id %}">Delete</a>||<a href="{% url 'update' pid=p.id %}">Edit</a></td>
            </tr>
        {% endfor %}

        </tbody>
</table>
    </div>
{% endblock %}
{% block script %}

{% endblock %}