{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome to our blog.{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
      <div class="container">
    <h4 style="margin-left: 4%;margin-bottom: 4%">Category:{{ cat.name }}</h4>

    {% for p in post %}
    <article class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{% url 'single_post' id=p.id %}"><img src="{{ p.image.url }}" alt="Image" class="img-responsive"></a>
				</figure>
				<span class="fh5co-meta"><a href="{% url 'topic' name=p.category.name %}">{{ p.category.name }}</a></span>
				<h2 class="fh5co-article-title"><a href={% url 'single_post' id=p.id %}>{{ p.title }}</a></h2>
                <h4 class="fh5co-article-title"><a href={% url 'author' name=p.article_author.name.username %}>{{ p.article_author.name.get_full_name }}</a></h4>
				<span class="fh5co-meta fh5co-date">{{ p.upload_time }}</span>
			</article>


    {% endfor %}
     </div>
    <div class="container">
    <div class="pagination">
    <span class="step-links">
        {% if post.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ post.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post.number }} of {{ post.paginator.num_pages }}.
        </span>

        {% if post.has_next %}
            <a href="?page={{ post.next_page_number }}">next</a>
            <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    </div>



	{% endblock %}
{% block script %}{% endblock %}