{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block profile %}

{% endblock %}
{% block content %}
    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
             {{ form.as_p }}
            <button type="submit" class="btn btn-primary"> Create author</button>

        </form>
    </div>
{% endblock %}
{% block script %}

{% endblock %}