{% extends 'base.html' %}
{% block title %}
    
{% endblock %}
{% block stylesheet %}
    
{% endblock %}
{% block profile %} 
    
{% endblock %}
{% block content %}
   <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please login to your account</h3>
                </div>
                <div class="panel-body">
                    {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                            {% endfor %}
                        </div>
                                {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">User name</label>
                            <input type="text" name="user" class="form-control" id="exampleInputEmail1" placeholder="User name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <button type="submit" class="btn btn-md btn-default">Login</button> </br>
                        <p>Are you new here? <a href="{% url 'register' %}">Register now</a></p>
                        </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    
{% endblock %}