{% extends 'base.html' %}
{% block title %}
Author:{{ auth.name.get_full_name }}
{% endblock %}
{% block stylesheet %}
         <style type="text/css">


#fh5co-offcanvas .fh5co-menu, #fh5co-offcanvas .fh5co-bio {

    padding: 50px;
}
    </style>
{% endblock %}
{% block profile %}
    <div class="fh5co-bio">
			<figure>
				<img src="{{ auth.profile_picture.url }}" alt="Free HTML5 Bootstrap Template" class="img-responsive">
			</figure>
			<h3 class="heading">About Me</h3>
			<h2>{{ auth.name.get_full_name }}</h2>
			<p>{{ auth.details }}</p>
			<ul class="fh5co-social">
				<li><a href="#"><i class="icon-twitter"></i></a></li>
				<li><a href="#"><i class="icon-facebook"></i></a></li>
				<li><a href="#"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>

{% endblock %}

{% block content %}
    <div class="container">
    <h1 style="margin-left: 5%; margin-bottom: 5%">Author: {{ auth.name.get_full_name }}</h1>
    {% for p in post %}
        <article class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-12 animate-box">
            <figure>
                <a href="{% url 'single_post' id=p.id %}"><img src="{{ p.image.url }}" alt="Image" class="img-responsive"></a>
            </figure>
            <span class="fh5co-meta"><a href="{% url 'topic' name=p.category.name %}">{{ p.category }}</a></span>
            <h2 class="fh5co-article-title"><a href="{% url 'single_post' id=p.id %}">{{ p.title }}</a></h2>
            <h4 class="fh5co-article-title"><a href={% url 'author' name=p.article_author.name.username %}>{{ p.article_author.name.get_full_name }}</a></h4>
            <span class="fh5co-meta fh5co-date">{{ p.upload_time }}</span>
        </article>
    {% endfor %}
    </div>

{% endblock %}
{% block script %}

{% endblock %}