{% extends 'base.html' %}
{% block title %}
Please register foe a new account
{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block profile %}

{% endblock %}
{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <button class="btn btn-primary">register</button>
    </form>

{% endblock %}
{% block script %}

{% endblock %}